@font-face {
    font-family: "NIXGONFONTS_B";
    src: url("./font/NIXGONFONTS_B.ttf") format("truetype");
}

@font-face {
    font-family: "NIXGONFONTS_L";
    src: url("./font/NIXGONFONTS_L.ttf") format("truetype");
}

@font-face {
    font-family: "NIXGONFONTS_M";
    src: url("./font/NIXGONFONTS_M.ttf") format("truetype");
}

@font-face {
    font-family: "GmarketSansTTFMedium";
    src: url("./font/GmarketSansTTFMedium.ttf") format("truetype");
}

* {
    font-family: "NIXGONFONTS_M";
}

.navbar-nav .nav-link {
    font-family: 'GmarketSansTTFMedium', sans-serif;
}

.fade-text {
    font-family: "NIXGONFONTS_L";
    font-weight: bold;
}

input[type="password"] {
    font-family: "Arial", sans-serif;
    /* 비밀번호 입력란의 기본 폰트 */
}

input[type="email"] {
    font-family: "Arial", sans-serif;
    /* 비밀번호 입력란의 기본 폰트 */
}

.team-description p {
    font-size: 22px;
    /* 여기에 적절한 폰트 크기를 입력하세요 */
}

body::-webkit-scrollbar {
    display: none;
}

form body,
ul,
h2,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #F2EFEB;
    background-color: #F2EFEB;
    color: #999;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;
}

.team-item {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 5px;
    opacity: 0.4;
    transition: all .4s ease-in-out;
    height: auto;
    background-color: #f2f2f2;
}

.team-item:hover {
    flex-basis: 24%;
    opacity: 1;
    transition: all .4s ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #D9BDAD;
    z-index: 999;
}

#nav-title {
    color: #594539;
    font-weight: 700;
    font-size: 21px;
}

#nav-title:hover {
    cursor: default;
}

#detail_img {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.navbar-nav .nav-item>a {
    color: #594539;
    opacity: 0.5;
    transition: all .5s ease-in-out;
}

.navbar-nav .nav-item>a:hover {
    opacity: 1;
}

.navbar-nav .nav-item .active {
    opacity: 1;
    font-weight: 700;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item {
    flex-basis: 200px;
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 0 30px;
    margin: 0 30px;
    opacity: 0.4;
    transition: all .4s;
}

.team-item:hover {
    opacity: 1;
    flex-basis: 250px;
    flex-basis: 250px;
    margin: 0 20px;
}

.team-item img {
    width: 100%;
}

.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;
}

.profile:before {
    content: ' ';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    /* IE6-9 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    /* IE6-9 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile_red {
    color: #ff4949;
}

.profile_beige {
    color: beige;
}

.profile_green {
    color: darkseagreen;
}

.profile_pink {
    color: pink;
}

.profile_purple {
    color: violet;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 35px;
    font-size: 35px;
}

.profile-contents h4 span {
    display: block;
    font-size: 22px;
    font-size: 22px;
}

.profile-contents p {
    color: white;
    font-size: 17px;
    font-size: 17px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
}

.team-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}

.team-introduction {
    display: flex;
    justify-content: space-between;
}

.team-photo {
    flex: 0 0 50%;
}

.team-photo img {
    width: 500px;
    margin: 100px 0px 30px 150px;
    margin: 100px 0px 30px 150px;
}

.team-description {
    flex: 0 0 50%;
    margin: auto;
}

.bar-bg {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #F2DCC9;
}

.bar-ing {
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #594539;
}

/* 모달창 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

/* 모달창 내용 스타일 */
.modal-content {
    background-color: #fcf6f2;
    margin: 7% auto;
    padding: 1%;
    border: 8px solid #ceb3a1;
    border-radius: 8px;
    width: 35%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content-detail {
    background-color: #fcf6f2;
    margin: 7% auto;
    padding: 3%;
    border: 8px solid #ceb3a1;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content-goal{
    background-color: #fcf6f2;
    margin: 7% auto;
    padding: 3%;
    border: 8px solid #ceb3a1;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.teamGoal li{
    margin-top: 10px;
}
/* 여백조정 */
.input-container {
    margin-bottom: 10px;
    /* 원하는 여백 크기로 조정 */
}

.input-container input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.row {
    display: flex;
    padding: 10px 0;
}

.row a {
    color: inherit;
    /* 링크의 색상 제거 */
}

.memberAdd {
    width: 400px;
    margin: 0 auto;
}

.memberUpdate {
    width: 400px;
    margin: 0 auto;
}

.title_content {
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    font-weight: bold;
}

.title_content_answer {
    display: flex;
    align-items: center;
    width: 70%;
    height: 40px;
}

.txtfield {
    width: 70%;
    height: 38px;
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
}

.txtfield.big {
    height: 150px;
}

.title_content.big {
    height: 150px;
}

textarea {
    resize: none;
}

.membtn-container {
    text-align: center;
}

#memberAddBtn {
    background-color: #D9BDAD;
    /* 새로운 배경색 지정 */
    color: white;
    /* 텍스트 색상을 밝게 설정하여 대비를 높임 */
    border: 4px solid #ceb3a1;
    border-radius: 8px;
    padding: 10px 20px;
    /* 적절한 패딩값 추가 (예시) */
    border-radius: 5px;
    /* 버튼 모서리를 둥글게 만듦 */
    cursor: pointer;
    /* 마우스 커서를 포인터로 변경 */
}

#memberAddBtn:hover {
    background-color: #d9b29c;
    /* 마우스 오버 시 배경색 변경 */
}

/* moveTop 버튼 */
.btn-moveTop {
    position: fixed;
    right: 2%;
    bottom: 64px;
    width: 44px;
    height: 44px;
    background-image: url(./images/btn-moveTop.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-moveTop:hover {
    background-image: url(./images/btn-moveTop-hover.png);
}

/* movebottom 버튼 */
.btn-moveBottom {
    position: fixed;
    right: 2%;
    bottom: 20px;
    width: 44px;
    height: 44px;
    background-image: url(./images/btn-moveBottom.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-moveBottom:hover {
    background-image: url(./images/btn-moveBottom-hover.png);
}

/* 스크롤에 따른 헤더 변화를 위한 스타일 */
.container {
    position: relative;
    height: 60vh;
    overflow: hidden;
    max-width: 100%;
}

.cat-image {
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 0;
    background-image: url(./images/cat-image.png);
    /* 고양이 이미지 */
    background-size: contain;
    background-repeat: no-repeat;
    /* 이미지가 반복x 설정 */
    background-position: center;
    /* 이미지가 중앙에 위치하도록 설정 */
    z-index: 1;
    opacity: 0.8;
    cursor: pointer;
}

.text-content {
    position: absolute;
    width: 100%;
    top: 55%;
    /* 중앙 위치 조정 */
    transform: translateY(-50%);
    /* Y축 기준 중앙 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    z-index: 2;
    transition: transform 0.2s ease-out;
    /* 이동 속도 빠르게 */
}

.fade-text {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.3s ease-out;
    /* 투명도 및 위치 변화 속도 조정 */
    transform: translateY(-20px);
    /* 초기 위치 설정 */
}

/* 첫 번째 문단에 특정 폰트, 크기, 색상 적용 */
.fade-text:first-child {
    font-family: "NIXGONFONTS_B", sans-serif;
    font-size: 43px;
    color: #594539;
    /* 약간의 푸른색조 */
    font-weight: normal;

}

/* 두 번째 및 세 번째 문단은 더 작고 가는 폰트로 */
.fade-text:nth-child(2),
.fade-text:nth-child(3),
.fade-text:nth-child(4) {
    font-family: "NIXGONFONTS_M", sans-serif;
    /* 가볍고 얇은 폰트 */
    font-size: 18px;
    /* 작은 폰트 크기 */
    color: #333;
    /* 가독성을 위한 어두운 색상 */
}

.fade-text:last-child {
    /* 마지막 p 태그만 특별하게 */
    font-size: 25px;
    font-weight: bold;
    color: rgb(97, 107, 118);
}

@keyframes background-image {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #B7E8EB 100%);
    position: relative;
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.4, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

.wave:nth-of-type(3) {
    top: -150px;
    animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.25s infinite, swell 8s ease -1.5s infinite;
    opacity: 0.8;
}

.wave:nth-of-type(4) {
    top: -125px;
    animation: wave 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.375s infinite, swell 9s ease -1.75s infinite;
    opacity: 0.6;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -35px, 0);
    }

    250% {
        transform: translate3d(0, -15px, 0);
    }

    50% {
        transform: translate3d(0, 50px, 0);
    }
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* 자기소개페이지 모달버튼 */
.modal-button-detail {
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-button {
    padding: 1%;
    border: 8px solid #7c6251;
    border-radius: 8px;
    cursor: pointer
}

#edit {
    background-image: url(./images/edit.png);
}

#delete {
    background-image: url(./images/delete.png);
}

#edit:hover {
    background-image: url(./images/edit-hover.png);
}

#delete:hover {
    background-image: url(./images/delete-hover.png);
}

.profile-picture {
    width: 150px;
    height: 230px;

}

#detail_img {
    margin-top: 10px;
    width: 200px;
}

.detail_head {
    display: inline-block;
    width: calc(100% - 300px);
    padding-right: 0;
    /* 또는 여러분이 원하는 값으로 설정 */
}

.modal-content {
    background-color: #fcf6f2;
}

#detailModal .modal-content {
    background-color: #D9BDAD;
}

.modal-button {
    background-color: #d9b29c;
    /* New color for buttons */
    border: none;
    /* Removes any default border */
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #c18b79;
}

.teamGoal {
    text-align: left;
    padding: 20px;
}